
<h2>{{ textHtml.title }}</h2>
<hr>
<form [formGroup]="productForm">
    <div>
        <label for="id-product">{{ textHtml.id.label }}</label>
        <input 
            type="text"
            id="id-product"
            formControlName="id"
            [placeholder]="textHtml.id.placeholder"
        />
        <div class="errors-msg">
            <small>{{ getErrorMessage('id') }}</small>
        </div>
    </div>

    <div>
        <label for="name-product">{{ textHtml.name.label }}</label>
        <input 
            type="text"
            id="name-product"
            formControlName="name"
            [placeholder]="textHtml.name.placeholder"
        />
        <div class="errors-msg">
            <small>{{ getErrorMessage('name') }}</small>
        </div>
    </div>

    <div>
        <label for="description-product">{{ textHtml.description.label }}</label>
        <input 
            type="text"
            id="description-product"
            formControlName="description"
            [placeholder]="textHtml.description.placeholder"            
        />
        <div class="errors-msg">
            <small>{{ getErrorMessage('description') }}</small>
        </div>
    </div>

    <div>
        <label for="logo-product">{{ textHtml.logo.label }}</label>
        <input 
            type="text"
            id="logo-product"
            formControlName="logo"
            [placeholder]="textHtml.logo.placeholder"
        />
        <div class="errors-msg">
            <small>{{ getErrorMessage('logo') }}</small>
        </div>
    </div>

    <div>
        <label for="date-release">{{ textHtml.dateRelease.label }}</label>
        <input 
            type="date"
            id="date-release"
            formControlName="date_release"
            [min]="getCurrentDate()"            
        />
        <div class="errors-msg">
            <small>{{ getErrorMessage('date_release') }}</small>
        </div>
    </div>

    <div>
        <label for="date-revision">{{ textHtml.dateReview.label }}</label>
        <input 
            type="date"
            id="date-revision"
            formControlName="date_revision"
        />
        <div class="errors-msg">
            <small>{{ getErrorMessage('date_revision') }}</small>
        </div>
    </div>

    <div>
        <app-custom-button [isDisabled]="!enabledResetBtn()" color="secondary" textBtn="Reiniciar" (btnClick)="resetForm()"></app-custom-button>
        <app-custom-button [isDisabled]="productForm.invalid" textBtn="Enviar" (btnClick)="onSubmit()"></app-custom-button>
    </div>
</form>
