<div>
    <span>{{ totalItems }} Resultados</span>

    <label for="itemsPerPage">Productos por página:</label>
    <select id="itemsPerPage" (change)="changeItemsPerPage($event)">
            <option *ngFor="let opt of numberPerPageOpt" [value]="opt" >{{ opt }}</option>
    </select>
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">atras</button>

    <span>Página {{ currentPage }} - {{ totalPages }}</span>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">adelante</button>
 </div>