<div class="modal" *ngIf="showModal">
    <div class="modal-content">
        <p class="text-modal">{{ modalMessage }}</p>
        <div class="modal-btn" *ngIf="isError">
            <app-custom-button
                class="btn"
                textBtn="Cancelar" 
                color="secondary"
                (btnClick)="onCancel()">
            </app-custom-button>

            <app-custom-button 
                class="btn"
                textBtn="Confirmar" 
                color="primary" 
                (btnClick)="onConfirm()">
            </app-custom-button>
        </div>

        <div *ngIf="!isError" class="btn-close">
            <app-custom-button 
                class="btn"
                textBtn="Cerrar" 
                color="secondary" 
                (btnClick)="onCancel()">
            </app-custom-button>
          </div>
    </div>
</div>
