<div>
    <div>
        <!-- SEARCH -->
        <app-search (searchChange)="onSearchChange($event)"></app-search>
        <app-custom-button textBtn="Agregar" color="primary" (btnClick)="navigateAddNewProduct()"></app-custom-button>
    </div>

    <!-- PRODUCT TABLE -->
    <app-product-list [productsData]="showProductsPerPage" (productIdDeleted)="onProductDeleted($event)"></app-product-list>

    <!-- PAGINATOR -->
    <app-paginator [totalItems]="totalProducts" [itemsPerPage]="productsPerPage" [currentPage]="currentPage"
        (pageChange)="onPageChange($event)" (itemsPerPageOnChange)="productsPerPageChange($event)"></app-paginator>
</div>