<div>
    <!-- SEARCH -->

    <!-- PRODUCT TABLE -->
    <table id="product-table">
        <thead>
            <tr>
                <th>Logo</th>
                <th>Nombre del producto</th>
                <th>Descripción</th>
                <th>Fecha de liberación</th>
                <th>Fecha de reestructuración</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let product of showProductsPerPage">
                <td>{{ product.logo }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.dateRelease }}</td>
                <td>{{ product.dateRevision }}</td>
                <!-- <td>DROPDOWNN</td> -->
            </tr>
        </tbody>
    </table>

    <!-- PAGINATOR -->
    <app-paginator
    [totalItems]="totalProducts"
    [itemsPerPage]="productsPerPage"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"
    (itemsPerPageOnChange)="productsPerPageChange($event)"
    ></app-paginator>
</div>