<div>
    <table id="product-table">
        <thead>
            <tr>
                <th *ngFor="let column of textHtml.columnNameTable">{{ column }}</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let product of productsData">
                <td>{{ product.logo }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.date_release }}</td>
                <td>{{ product.date_revision }}</td>
                <td>
                    <select id="menu" [(ngModel)]="action" (change)="handleActionPerProduct(action, product)">
                        <option value="" disabled selected>{{textHtml.action}}</option>
                        <option value="edit">{{textHtml.edit}}</option>
                        <option value="delete">{{textHtml.delete}}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

    <app-modal
        [showModal]="showModalConfirm"
        [modalMessage]="modalMsg"
        [productId]="productIdAction"
        (confirm)="onConfirmDelete($event)"
        (cancel)="onCancelDelete()">
    </app-modal>
</div>